.foster-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.foster-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.foster-card-actions {
  margin-top: auto;
}